<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		<bean 	id = "userClientDao"
				class = "learn.spring25.WsUserDao" >
					<property name = "userService" ref = "userService" />					
		</bean>
		
		<bean 	id = "userService"
				class = "learn.spring25.UserServiceImpl" />		
</beans>