<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
		<bean 	id = "documentBySetters"
				class = "learn.spring25.Document">
					<property name = "name" value = "TESTA" />
					<property name = "size" value = "10" />
					<property name = "deleted" value = "true" />
		</bean>
		
		<bean 	id = "documentByConstructor"
				class = "learn.spring25.Document">
					<constructor-arg value = "TESTA" />
					<constructor-arg value = "11" />
					<constructor-arg value = "true" />
		</bean>		
		
		<bean 	id = "documentByPrefix"
				class = "learn.spring25.Document"
				p:name="TESTA" 
				p:size="12" 
				p:deleted="true">					
		</bean>
		
		<bean 	id = "documentByMix"
				class = "learn.spring25.Document"
				p:name="TESTA" >
					<constructor-arg type="int" value = "13" />
					<property name = "deleted" value = "true" />
		</bean>
		
		<bean 	id = "documentByMixRef"
				class = "learn.spring25.Document"
				p:name="TESTA" 
				p:content-ref="documentContent">
					<constructor-arg type="int" value = "14" />
					<property name = "deleted" value = "true" />
		</bean>
		
		<bean 	id = "documentBySettersInnerContent"
				class = "learn.spring25.Document">
					<property name = "name" value = "TESTA" />
					<property name = "size" value = "15" />
					<property name = "deleted" value = "true" />
					<property name = "content">
						<bean 	class = "learn.spring25.DocumentContent"
								p:content="CONTENT HERE !!!">
						</bean>
					</property>
		</bean>
		
		<bean 	id = "documentByContructorsInnerContent"
				class = "learn.spring25.Document">
					<property name = "name" value = "TESTA" />
					<property name = "size" value = "16" />
					<property name = "deleted" value = "true" />
					<constructor-arg>
						<bean 	class = "learn.spring25.DocumentContent"
								p:content="CONTENT HERE !!!">
						</bean>
					</constructor-arg>
		</bean>
		
		<bean 	id = "documentContent"
				class = "learn.spring25.DocumentContent"
				p:content="CONTENT HERE !!!">
		</bean>
</beans>