<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
		<bean 	id = "beanA"
				class = "learn.spring25.di.cyclicinjection.BeanA">
					<property name = "beanB" ref = "beanB" />
		</bean>
		
		<bean 	id = "beanB"
				class = "learn.spring25.di.cyclicinjection.BeanB">
					<property name = "beanA" ref = "beanA" />
		</bean>
</beans>